html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overscroll-behavior: none;
    background: radial-gradient(circle, rgba(10, 10, 10, 0.8) 0%, rgba(0, 0, 0, 1) 100%);
}

body {
    cursor: default;
}

* {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
}

.stardust {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    pointer-events: none;
    animation: fadeOut 1.5s ease-out forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(2); }
}


#slider-container button {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

#slider-container:hover button,
#slider-container.show-buttons button {
  opacity: 1;
  pointer-events: auto;
}
